body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQiiBcXbQHS4DExt-_71TiHCZ8BRsog5cccAA&usqp=CAU");
}
#myCanvas{
    background-color: white;
    border: 3px solid gray;
}